




    .lauren{ 
        display: flex;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: space-evenly;
        align-items: center;
        background-color: cornflowerblue;
         }

.movie_leftside{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: baseline;
    justify-content: flex-end;
}
    
    .movie{
        display:flex;
        background-color: tomato;
          }
    
    .movie__images{
        background-color: rgb(10, 47, 59);
        animation:blinkingText 1.2s infinite;
        border:yellowgreen dotted 5px}
    
     .movie__images2{
            background-color: rgb(231, 247, 20);
            animation:blinkingText 1.2s infinite;
            border:magenta dotted 5px}
    
    img{border-radius: 50%;
        animation: fadeIn .2s;
        -webkit-animation: fadeIn 5s;
        -moz-animation: fadeIn 5s;
        -o-animation: fadeIn 5s;
        -ms-animation: fadeIn 5s;
       }

       @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        0% {opacity:0;}
        100% {opacity:1;}
      }
        
    .movie__description{
        /* background-image: ; */
        font-size: x-large;
        animation:blinkingText .5s infinite;
        font-family: 'Ephesis', cursive;
        
    }
    
   
    
    .aside{
        font-family: 'Ephesis', cursive;
        animation:blinkingText 1.2s infinite;
        
    }
    
    .header{animation:blinkingText2 .2s infinite;
      font-family: 'Press Start 2P', cursive;
    }

/* This is the blinking text CSS */
    @keyframes blinkingText{
        
        99%{    color: rgb(200, 252, 14);  }
        100%{   color: rgb(238, 20, 20);    }
    }
    @keyframes blinkingText2{
        0%{     color: rgb(240, 241, 234);    }
        49%{    color: rgb(146, 7, 72); }
    }

.hero{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
}
.pic__img{
    width: 750px;
    aspect-ratio: auto 479 / 315;
    height: 750px; 
}
@keyframes blinkingText{
    20%{     color: rgb(20, 4, 253);    }
    4%{    color: rgb(248, 8, 8); }
    60%{    color: yellow; }
    80%{    color:purple;  }
    90%{   color: rgb(6, 243, 85);    }
}
.hero{
        animation:blinkingText 2.5s infinite;
        animation-fill-mode: forwards;
    }
.ferris{
    display: flex;
    flex-direction:column;   
}

@keyframes blinkingText{
    20%{     color: rgb(20, 4, 253);    }
    4%{    color: rgb(248, 8, 8); }
    60%{    color: yellow; }
    80%{    color:purple;  }
    90%{   color: rgb(6, 243, 85);    }
}
.ferris{
        animation:blinkingText 2.5s infinite;
        animation-fill-mode: forwards;
    }




